# Ignore everything
*

# Allow top-level files
!README.md
!LICENSE
!.gitignore

# Allow samples folder
!samples/
!samples/README.md
!samples/samp2buffer.csd

# Allow physicalmodel folder
!physicalmodel/
!physicalmodel/karplusstrong_mikelson.csd
!physicalmodel/vibes_example.csd
!physicalmodel/mel_vertical.csd

# Allow fof folder
!fof/
!fof/fof_chaos.csd

# Allow binary folder
!binary/
!binary/binrhythm.csd

